.admn_ul a{
    padding: 10px;
    border-right: 1px solid #eee;
}

.bg-gray{
    background: #ddd;
}

.reply_area{
    max-height: 600px;
    overflow-y: scroll;
}

.reply_area ul{
    padding-left: 0px;
    list-style: none;

}

.reply-area ul li{
    margin-top: 10px;
}
